body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
}


ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #111;
}

button {
    cursor: pointer;
}


/* Span */
.span-title-word {
    color: #fd9222;
}

/* HEADER */
.logo-word {
    font-style: italic;
}

.header-navigation-logotype {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
}

.header-navigation-menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
}

.header-navigation-item:hover,
.header-navigation-item:focus {
    color: #fd9222;
}

/* hero-section */
.hero-section {
    background: #1e1823;
}

.hero-section-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.03em;
    color: #fff;
}

.hero-section-button {
    background: #fd9222;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.hero-section-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 14px;
    border-radius: 100px;
    padding: 14px 40px;
    background: #fd9222;
    border: none;
}

.hero-section-button:hover,
.hero-section-button:focus {
    color: #fd9222;
    background: #fcf1e0;
}

.hero-section-link {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 14px 40px;
    text-align: center;
    background: #1e1823;
}

.hero-section-paragraph {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #fff;
}

/* 2 section */

.information-section {
    background: #1e1823;
    ;
}

.information-section-title {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.information-section-info {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* 3 section */
.ingridients-section-title {
    font-weight: 600;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
}

.ingridients-section-info {
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
}

.ingridients-section-milk-chocholate-item {
    background: #fd9222;
}

.title-milk-chocolate {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
}

.ingridients-section-milk-item {
    background: #fff;
}

.title-milk {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.ingridients-section-nuts-item {
    background: #1e1823;
}

.title-nuts {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
}

.ingridients-section-semi-chocolate-item {
    background: #fff;
}

.title-semi-chocolate {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

/* 4 section */

.made-section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.made-section-title-list {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
}

.made-section-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
}

/* Reviews section */
.reviews-section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.reviews-section-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
}

.reviews-section-item-info {
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.reviews-section-button {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 14px;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;
}

.reviews-section-button:hover,
.reviews-section-button:focus {
    background: #fd9222;
    color: #fff;
}

/* Footer */
.footer {
    background: #1e1823;
}

.footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.02em;
    color: #fff;
}

.footer-address-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fff;
}

.footer-address-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
}

.footer-address-info>a {
    color: #fff;
}

.nav-footer-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
}

.nav-footer-item>a {
    color: #fff;
}

.nav-footer-item a:hover,
.nav-footer-item a:focus {
    color: #fd9222
}

/* DISPLAY PRACTICE */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1168px;
    margin: 0 auto;
    padding: 0 16px;
    justify-content: space-between;
}

img {
    display: block;
}


/* Header */

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation-menu {
    display: flex;
    gap: 24px;
}

.header-navigation-item {
    display: inline-block;
    padding: 30px 0;
}

/* Hero section */

.hero-section {
    border-radius: 30px;
    margin-bottom: 72px;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    padding-top: 375px;
    padding-bottom: 46px;
}

.header-flex-container {
    padding: 0 40px;
}

.hero-section-title {
    width: 484px;
    align-items: center;
    margin-bottom: 32px;
}

.hero-section-buttons {
    display: flex;
    gap: 14px;
    align-items: center;
}

.hero-section-paragraph {
    margin-left: auto;
}

.hero-section-link:hover,
.hero-section-link:focus {
    color: #fd9222;
    border: 1px solid #fd9222;
    background-color: #fff;
}

/* Information section */

.information-section .container {
    padding: 50px;
}

.information-section-list {
    display: flex;
    align-items: flex-start;
    gap: 70px;
}

.information-section-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex-basis: calc((100% - 2 * 70px) / 3);
}

/* Ingridients section */

.ingridients-section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.ingridients-section-head {
    display: flex;
    flex-direction: column;
    width: 486px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 50px;
}

.ingridients-section-title {
    margin-bottom: 28px;
}

.ingridients-section-list {
    display: flex;
    gap: 19px;
    justify-content: center;
}

.ingridients {
    flex-basis: calc((100% - 3 * 19px) / 4);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 36px;
    padding: 28px 32px;
}


/* Made section */

.made-section {
    padding-top: 50px;
    padding-bottom: 50px;
}


.made-section-title {
    margin-bottom: 50px;
}


.made-section-container {
    display: flex;
    gap: 20px;
}

.made-section-title-list {
    margin-bottom: 28px;
}

.made-section-title-and-list {
    background-color: #fff;
    padding: 32px;
    border-radius: 15px;
}

.made-section-list {
   flex-direction: column;
    display: flex;
    gap: 24px;
}

.made-section-list-item {
    flex-basis: calc((100% - 4 * 24px) / 5);
}

/* Reviews section */

.reviews-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.reviews-section .container {
    display: flex;
    gap: 50px;
    flex-direction: column;
}


.reviews-section-list {
    display: flex;
    gap: 28px;
}

.reviews-section-list-item {
    flex-basis: calc((100% - 2 * 28px) / 3);
}

.reviews-section-img-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: relative;
    z-index: 10;
}

.reviews-section-item-info {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px; 
    padding: 104px 24px 24px 24px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background: #fff;
    margin-top: -80px;
    min-height: 200px;
}

.reviews-section-button {
    margin: 0 auto;
}

/* Footer */

.footer {
    margin-top: 50px;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.footer-title {
    width: 300px;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-address-title {
    margin-bottom: 14px;
}

.footer-address-info {
    margin-bottom: 4px;
}


.footer-navigation-list {
    display: flex;
    gap: 24px;
    margin-bottom: 62px;
}

.link-header-navigation-item {
    display: inline-flex;
    padding-top: 24px;
    padding-bottom: 24px;
}
